<div class="row">

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img1.png" alt="">
        <div class="overlay">
           <h2>Crete only 559€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img2.png" alt="">
        <div class="overlay">
           <h2>Mallorca 699€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img3.png" alt="">
        <div class="overlay">
           <h2>Thailand 699€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img4.png" alt="">
        <div class="overlay">
           <h2>Santorini 800€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img5.png" alt="">
        <div class="overlay">
           <h2>Amesterdam 300€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>

 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img6.png" alt="">
        <div class="overlay">
           <h2>London 529€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img7.png" alt="">
        <div class="overlay">
           <h2>Paris 489€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
   
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img8.png" alt="">
        <div class="overlay">
           <h2>Prag 99€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img9.png" alt="">
        <div class="overlay">
           <h2>Madrid 349€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img10.png" alt="">
        <div class="overlay">
           <h2>Istanbul 459€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img11.png" alt="">
        <div class="overlay">
           <h2>Argentina 1699€<</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>
 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
    <div class="hovereffect">
        <img class="img-fluid" src="../../assets/img12.png" alt="">
        <div class="overlay">
           <h2>Japan 3399€</h2>
           <a class="info" href="#">book now</a>
        </div>
    </div>
</div>

     

      

   
  
  </div>

   <hr>


<!--      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
    <div class="view">
      <img  src="../../assets/img12.png" class="img-fluid" alt="Mallorca">
      <div class="mask rgba-green-strong">
        <p class="mycap text-white bg-danger">Mallorca 699€</p>
      </div>
    </div>
    </div>-->