
<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.travelService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Destination</label>
        <!-- we will add this class is-invalid with the help of [ngClass] directive
                                this class will be applied when the form is submitted and we have a validation error regarding full name -->
        <input formControlName="destination" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.destination.errors}">
        <!-- now we will add an additional due to show the exact reason for the validation error so here we have the deal with this class invilid-feedback
                                        only based on the same condition inside that -->
        <div class="invalid-feedback" *ngIf="submitted && formControls.destination.errors">This field is required</div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <!-- we will add this class is-invalid with the help of [ngClass] directive
                                this class will be applied when the form is submitted and we have a validation error regarding full name -->
        <input formControlName="country" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.country.errors}">
        <!-- now we will add an additional due to show the exact reason for the validation error so here we have the deal with this class invilid-feedback
                                        only based on the same condition inside that -->
        <div class="invalid-feedback" *ngIf="submitted && formControls.country.errors">This field is required</div>
      </div>
  
  <div class="form-group">
    <label>Duration</label>
    <input formControlName="days" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.days.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.days.errors">This field is required</div>
  </div>
  <div class="form-group">
    <label>Hotel</label>
    <input formControlName="hotel" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.hotel.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.hotel.errors">This field is required</div>
  </div>
  <div class="form-group">
    <label>Cost</label>
    <input formControlName="price" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.price.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.price.errors">This field is required</div>
  </div>
   <div class="form-group">
    <label>Image</label>
    <input formControlName="img" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.img.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.img.errors">This field is required</div>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
  </form>
</div>

</div>
<div class="alert alert-info" *ngIf="showSuccessMessage">
  submitted successfully.
</div>

<div class="row">

  <app-travel-list></app-travel-list>
</div>